#main_title {position:relative; float:left; margin-top:2%; margin-left:2%; width:12%;}
#week{position: relative; margin-left: 10%; font-size: 50px;}
.arrow{position: relative; width: 10%; height: 10%;}
#right{float: right; margin-top: 10%;}
#left{float: left; margin-top: 10%;}
#plus {position: relative; display:inline; margin-left:80%; width:5%;margin-bottom: 2%; margin-top: -5%;}
table{position:relative;
    border: 1px solid black;
    width: 900px;height:600px;
    margin-top:5%;margin-left: 20%;
    table-layout: fixed;}
.tab{color:#858072;;
    padding: 4px;
    position:relative;
    }
#name_tab {font-size:1.5vw;}

.innerframe {position: relative; float:left; margin-top:3%; margin-left:55%;}
.title {position: relative; float:left;  margin-left:25%; margin-top: 7%; font-size:2.5vw;  }
.innerframe1 {position:relative; float:right; background-color:rgb(238, 235, 235); width:96%; min-height:620px; margin-right:1.6%;
    margin-bottom:0.8%; border-radius:0.5em;}
th,td{border: 1px solid black; text-align:center;}

