#main_title {position:relative; float:left; margin-top:2%; margin-left:2%; width:12%;}
table{position:relative;
    border: 1px solid black;
    width: 700px;height:600px;
    margin-top:5%;margin-left: 25%;}
.tab{color:#858072;;
    padding: 4px;
    position:relative;
    }
#name_tab {font-size:1.5vw;}
.innerframe {position:relative; border:#f3c4c4 solid 5px;float:right;width:96%; min-height:700px; margin-right:1.6%;
    margin-bottom:0.8%;}
.frame {position: relative; float:left; margin-top:7%; margin-left:10%;
    font-size:2vw; background-color:lightgreen; color:white;}
.innerframe1 {position: relative; float:left; margin-top:3%; margin-left:55%;margin-bottom: 5%;}
th,td{border: 1px solid black; text-align:center;}
.add{position:relative; float:right; border: aqua solid 5px;margin-bottom: 5%;margin-right: 5%;}
